<app-nav-menu>
  <div>
   
  </div>
  <form  action="" #f="ngForm">
    <mat-card class="z-depth-5">
      <mat-card-title>Edit Product Info</mat-card-title>
      <!--<p>{{products|json }}</p>
      <p> {{productF|json}} </p>
      -->
      <div class="login-container">
        <mat-form-field>
          <input
            
            matInput
            placeholder="Image"
            type="text"
            id="_image"
            name="_image"
            [(ngModel)]="products._image"
            class="form-control"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="Product Name"
            type="text"
            id="_libelle"
            name="_libelle"
            [(ngModel)]="products._libelle"
            class="form-control"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <textarea
            matInput
            placeholder="Description"
            type="text"
            id="_description"
            name="_description"
            [(ngModel)]="products._description"
            class="form-control"
            required
          ></textarea> </mat-form-field
        ><br />

        <mat-form-field>
          <input
            matInput
            placeholder="ID"
            type="number"
            id="_id"
            name="_id"
            [(ngModel)]="products._id"
            class="form-control"
            required
          />
          <mat-error>
            The ID of the product -> {{ products._libelle }} is {{_id}}
          </mat-error>
        </mat-form-field>
        <div [hidden]="!submitted">
          {{ message }}
        </div>
        <br />
        <mat-form-field>
          <input
            matInput
            placeholder="Price"
            type="number"
            id="_prix"
            name="_prix"
            [(ngModel)]="products._prix"
            class="form-control"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="Quantity"
            type="number"
            id="_nbStock"
            name="_nbStock"
            [(ngModel)]="products._nbStock"
            class="form-control"
            required
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Stock Date"
            [(ngModel)]="products._date"
            name="_date"
            required
            id="_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />

        <mat-checkbox
          class="example-margin"
          matInput
          [(ngModel)]="products._stock"
          name="stock"

        >
          In Stock
        </mat-checkbox>
        <br />
      </div>
      <button
        mat-stroked-button
        [disabled]="f.invalid"
        (click)="onEditProduct(products._id)"
        (click)="openSnackBar()"
      >
        Editer
      </button>
      &nbsp;
      <button mat-stroked-button (click)="versProduit()">
        Annuler
      </button>
    </mat-card>
  </form>
</app-nav-menu>
